<!DOCTYPE html>
<div class="page-header">
	<h1>宽度优先搜索</h1>
</div>
	<div class="row">
		<div id="graph1" class="col-md-6">
			<div id="bfs1" style="height:350px;border:1px solid #ccc;padding:10px;"></div>
		</div>
		<div id="graph2" class="col-md-6">
			<div id="bfs2" style="height:350px;border:1px solid #ccc;padding:10px;"></div>
		</div>
	</div>
	<div class="row">
		<div id="graph3" class="col-md-6">
			<div id="bfs3" style="height:350px;border:1px solid #ccc;padding:10px;"></div>
		</div>
		<div id="graph4" class="col-md-6">
			<div id="bfs4" style="height:350px;border:1px solid #ccc;padding:10px;"></div>
		</div>
	</div>
<script src="/javascripts/echarts-plain.js"></script>
<script type="text/javascript">
	var myChart = echarts.init(document.getElementById('bfs1'));
	myChart.setOption({
		title : {
			text: 'Case 1'
		},
		tooltip : {
			trigger: 'axis'
		},
		legend : {
			data: ['轻量级线程数', '完成子任务数', '线程切换数']
		},
		toolbox : {
			show: true,
			feature : {
				dataView : {show: true, readOnly: false},
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				data : [0,1.56,2.57,3.61,4.65,5.65,6.66,7.67,8.67,9.8,10.92,12.13,13.34,14.55,15.69,16.74,17.92,19.08,20.24,21.35,22.51,23.57,24.61,25.73,26.75,27.78,28.83,29.84,30.89,31.93,32.95,34.4,35.47,36.52,37.59,38.66,39.76,40.85,41.89,42.91,43.94,44.96,45.97,46.98,48.01,49.61,50.64,51.68,52.68,53.7,54.73]
			}
		],
		yAxis : [
			{
				type : 'value',
				name : '轻量级线程数',
				splitArea : {show: true}
			},
			{
				type : 'value',
				name : '子任务相关',
				splitArea : {show: true}
			}
		],
		series : [
			{
				name : '轻量级线程数',
				type : 'bar',
				data : [0,131072,131072,130998,130001,128222,125318,121688,116988,106579,99845,90863,82525,74886,68521,61578,56218,51014,46289,42052,38100,34555,30889,26733,22153,16115,10355,6936,3837,1892,354,131072,131072,131072,131072,110022,80916,58825,41051,16987,1,1,1,1,1,131072,1,1,1,1,1]
			},
			{
				name : '完成子任务数',
				type : 'line',
				yAxisIndex : 1,
				data : [0,5603598,12291384,19085178,25809732,29674080,33557043,37442214,41335238,48177900,52077159,56971883,61881896,66795158,71723231,77646846,82586073,87534554,92490342,97452165,102405861,107366947,113327296,121275760,131224545,145168021,162117886,177082209,193057502,208042349,224031688,231710639,234999889,238289229,241583672,244964881,248722058,252752205,256991522,264091997,286757721,312757721,338757721,364757721,388757721,402372481,426260041,450260041,475260041,501260041,527260041]
			},
			{
				name : '线程切换数',
				type : 'line',
				yAxisIndex : 1,
				data : [0,6000000,13000000,20000000,27000000,31000000,35000000,39000000,43000000,50000000,54000000,59000000,64000000,69000000,74000000,80000000,85000000,90000000,95000000,100000000,105000000,110000000,116000000,124000000,134000000,148000000,165000000,180000000,196000000,211000000,227000000,235000000,240000000,245000000,250000000,255000000,260000000,265000000,270000000,278000000,301000000,327000000,353000000,379000000,403000000,417000000,441000000,465000000,490000000,516000000,542000000]
			}
		]
	});
</script>
<script type="text/javascript">
	var myChart = echarts.init(document.getElementById('bfs2'));
	myChart.setOption({
		title : {
			text: 'Case 2'
		},
		tooltip : {
			trigger: 'axis'
		},
		legend : {
			data: ['轻量级线程数', '完成子任务数', '线程切换数']
		},
		toolbox : {
			show: true,
			feature : {
				dataView : {show: true, readOnly: false},
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				data : [0,2.61,3.62,4.64,5.66,6.67,7.7,8.74,9.77,10.81,11.85,12.89,13.93,14.96,16,17.03,18.07,19.1,20.12,21.2,22.21,23.25,24.28,25.29,26.34,27.36,28.41,30.71,31.81,32.92,34.04,35.17,36.31,37.44,38.45,39.46,40.46,41.49,42.51,44.55,45.55,46.56,47.57,48.59,49.59]
			}
		],
		yAxis : [
			{
				type : 'value',
				name : '轻量级线程数',
				splitArea : {show: true}
			},
			{
				type : 'value',
				name : '子任务相关',
				splitArea : {show: true}
			}
		],
		series : [
			{
				name : '轻量级线程数',
				type : 'bar',
				data : [0,262144,262058,258751,248521,231474,214740,197997,175485,153937,135926,118629,107167,96185,85158,72537,61434,53440,44771,39192,33749,26763,17033,10736,5797,2206,275,262144,262144,262144,197610,127613,78288,37396,1,1,1,1,1,248814,1,1,1,1,1]
			},
			{
				name : '完成子任务数',
				type : 'line',
				yAxisIndex : 1,
				data : [0,5584204,11917977,18602234,25419569,32279939,39057263,45880070,52771249,59691470,66620217,73574760,80465298,87398757,94321371,101281597,108256484,115225978,122211254,130179359,138143343,148103426,162084311,178071315,194042566,210037292,226030183,231710639,236058605,240661337,245459853,250970221,256902585,263142408,282757705,311757705,340757705,370757705,400757705,402372481,425260041,451260041,477260041,503260041,529260041]
			},
			{
				name : '线程切换数',
				type : 'line',
				yAxisIndex : 1,
				data : [0,6000000,13000000,20000000,27000000,34000000,41000000,48000000,55000000,62000000,69000000,76000000,83000000,90000000,97000000,104000000,111000000,118000000,125000000,133000000,141000000,151000000,165000000,181000000,197000000,213000000,229000000,235000000,242000000,249000000,256000000,263000000,270000000,277000000,297000000,326000000,355000000,385000000,415000000,417000000,440000000,466000000,492000000,518000000,544000000]
			}
		]
	});
</script>
<script type="text/javascript">
	var myChart = echarts.init(document.getElementById('bfs3'));
	myChart.setOption({
		title : {
			text: 'Case 3'
		},
		tooltip : {
			trigger: 'axis'
		},
		legend : {
			data: ['轻量级线程数', '完成子任务数', '线程切换数']
		},
		toolbox : {
			show: true,
			feature : {
				dataView : {show: true, readOnly: false},
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				data : [0,3.72,4.79,5.87,6.95,8.05,9.09,10.13,11.18,12.24,13.3,14.38,15.46,16.55,17.65,18.74,19.83,20.92,22,23.08,24.16,25.23,26.31,27.39,28.48,29.57,30.65,31.73,32.85,33.93,35.09,36.12,37.16,38.2,39.23,40.29,41.35,44.92,45.93,46.94,47.95,48.98,50.04,51.12,52.19,53.26,54.29,55.29,56.31,57.33,58.33,59.35,61.87,62.88,63.88,64.91,65.94,66.97]
			}
		],
		yAxis : [
			{
				type : 'value',
				name : '轻量级线程数',
				splitArea : {show: true}
			},
			{
				type : 'value',
				name : '子任务相关',
				splitArea : {show: true}
			}
		],
		series : [
			{
				name : '轻量级线程数',
				type : 'bar',
				data : [0,393216,392946,386977,375571,361625,338806,317975,297025,281907,270760,253581,231185,203798,182257,168896,152592,136343,129939,122474,112866,103191,89981,75867,64830,60692,54185,46379,43643,42006,37085,31317,20560,13738,9590,3130,925,393216,393216,393216,393216,320531,226935,159180,111232,69924,25013,1,1,1,1,1,248814,1,1,1,1,1]
			},
			{
				name : '完成子任务数',
				type : 'line',
				yAxisIndex : 1,
				data : [0,5584204,9618834,14408581,19263083,24034543,28938491,33889090,38851379,43776605,47645449,52535252,57449058,62415113,67409909,72380446,77356891,82359401,87348187,92267889,97212620,102187725,107146722,112144314,117145390,122138555,127126951,132126872,137129504,142116410,148076625,154069868,163055702,176051807,191040488,206033850,221030021,231710639,234554412,237802671,241069148,244508764,248360780,252499379,256819515,261279664,265884589,287757681,312757681,337757681,362757681,387757681,402372481,422260041,447260041,473260041,499260041,525260041]
			},
			{
				name : '线程切换数',
				type : 'line',
				yAxisIndex : 1,
				data : [0,6000000,11000000,16000000,21000000,26000000,31000000,36000000,41000000,46000000,50000000,55000000,60000000,65000000,70000000,75000000,80000000,85000000,90000000,95000000,100000000,105000000,110000000,115000000,120000000,125000000,130000000,135000000,140000000,145000000,151000000,157000000,166000000,179000000,194000000,209000000,224000000,235000000,240000000,245000000,250000000,255000000,260000000,265000000,270000000,275000000,280000000,302000000,327000000,352000000,377000000,402000000,417000000,437000000,462000000,488000000,514000000,540000000]
			}
		]
	});
</script>
<script type="text/javascript">
	var myChart = echarts.init(document.getElementById('bfs4'));
	myChart.setOption({
		title : {
			text: 'Case 4'
		},
		tooltip : {
			trigger: 'axis'
		},
		legend : {
			data: ['轻量级线程数', '完成子任务数', '线程切换数']
		},
		toolbox : {
			show: true,
			feature : {
				dataView : {show: true, readOnly: false},
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				data : [0,4.45,5.45,6.47,7.49,8.51,9.54,10.57,11.69,12.72,13.77,14.81,15.86,16.91,17.95,19,20.05,21.1,22.17,23.22,24.26,25.28,26.31,27.4,28.42,29.47,30.51,31.57,37.03,42.22,43.26,44.35,45.48,46.49,47.51,48.53,49.56,50.59,51.63,52.63,53.64,54.67,55.67,58.74,59.77,60.8,61.82,62.84,63.86]
			}
		],
		yAxis : [
			{
				type : 'value',
				name : '轻量级线程数',
				splitArea : {show: true}
			},
			{
				type : 'value',
				name : '子任务相关',
				splitArea : {show: true}
			}
		],
		series : [
			{
				name : '轻量级线程数',
				type : 'bar',
				data : [0,524288,516889,488314,461524,412359,372053,337920,319413,287048,238413,195306,178522,150325,142066,133348,111866,90396,67800,61686,50736,45744,44201,32605,17853,11387,5862,2070,524288,524288,524288,524288,456339,347655,238603,150311,80172,1,1,1,1,1,1,248814,1,1,1,1,1]
			},
			{
				name : '完成子任务数',
				type : 'line',
				yAxisIndex : 1,
				data : [0,5584204,11164651,17951149,24745173,31561370,38545217,45535169,52439647,59258667,66202948,73219392,80211839,87216040,94222706,101147509,108084477,115067336,122079428,129083560,136080179,143085158,150079453,158037766,169039017,185041835,201030606,217031306,231710639,231710639,234950877,238890794,242925442,246663361,251532098,256731055,262141877,271757679,297757679,322757679,347757679,373757679,398757679,402372481,412260041,438260041,464260041,490260041,516260041]
			},
			{
				name : '线程切换数',
				type : 'line',
				yAxisIndex : 1,
				data : [0,6000000,13000000,20000000,27000000,34000000,41000000,48000000,55000000,62000000,69000000,76000000,83000000,90000000,97000000,104000000,111000000,118000000,125000000,132000000,139000000,146000000,153000000,161000000,172000000,188000000,204000000,220000000,235000000,236000000,241000000,247000000,253000000,258000000,264000000,270000000,276000000,286000000,312000000,337000000,362000000,388000000,413000000,417000000,427000000,453000000,479000000,505000000,531000000]
			}
		]
	});
</script>
