<!DOCTYPE html>
<div class="page-header">
	<h1>对比</h1>
</div>
<div class="col-lg-12">
	<table class="table">
		<thead>
			<tr>
				<th>任务类型</th>
				<th>任务描述</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="/compare/pointer_chasing">指针跟踪</a></td>
				<td>使用大量轻量级线程并发遍历大量链表</td>
			</tr>
			<tr>
				<td><a href="/compare/BFS">宽度优先搜索</a></td>
				<td>图计算中用来获得图的关键信息（诸如最短路、连通域）的常用算法</td>
			</tr>
			<tr>
				<td><a href="/compare/Hash">基于Hash的查找</a></td>
				<td>从Hash表中查找大量的请求字段出现的总次数</td>
			</tr>
		</tbody>
	</table>
</div>

