<!DOCTYPE html>
<div class="page-header">
	<h1><%= title %></h1>
</div>
<div class="col-lg-12">
	<table class="table">
		<thead>
			<tr>
				<th>TaskCategoty</th>
				<th>TaskDescription</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="/compare/pointer_chasing">pointer_chasing</a></td>
				<td>Chasing Multiple Lists Using Large Amount of Light Thread</td>
			</tr>
			<tr>
				<td><a href="/compare/BFS">Breadth First Search</a></td>
				<td>Common Way to Find Some Useful Data(Shortest Path, Connected Component) In a Graph</td>
			</tr>
			<tr>
				<td><a href="/compare/Hash">Hash Algorithm(WordCount)</a></td>
				<td>Using Hash Algorithm to Build a Hashmap and Find the Total Count of Queried Words In It</td>
			</tr>
		</tbody>
	</table>
</div>

