<!DOCTYPE html>
<div class="page-header">
	<h1><%= title %></h1>
</div>
	<div class="row">
		<div id="graph1" class="col-md-6">
			<div id="wc1" style="height:350px;border:1px solid #ccc;padding:10px;"></div>
		</div>
		<div id="graph2" class="col-md-6">
			<div id="wc2" style="height:350px;border:1px solid #ccc;padding:10px;"></div>
		</div>
	</div>
	<div class="row">
		<div id="graph3" class="col-md-6">
			<div id="wc3" style="height:350px;border:1px solid #ccc;padding:10px;"></div>
		</div>
		<div id="graph4" class="col-md-6">
			<div id="wc4" style="height:350px;border:1px solid #ccc;padding:10px;"></div>
		</div>
	</div>
<script src="/javascripts/echarts-plain.js"></script>
<script type="text/javascript">
	var myChart = echarts.init(document.getElementById('wc1'));
	myChart.setOption({
		title : {
			text: 'Case 1'
		},
		tooltip : {
			trigger: 'axis'
		},
		legend : {
			data: ['workers', 'tasks', 'switches']
		},
		toolbox : {
			show: true,
			feature : {
				dataView : {show: true, readOnly: false},
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				data : [0,1.62,2.69,3.74,4.75,5.77,6.88,7.89,8.9,9.92,11.38,12.82,14.25,15.69,17.12,18.15,19.27,20.29,21.29,22.31,23.32,24.34,25.36,26.39,27.41,28.43,29.45,30.47,31.59,32.62,33.64,34.67,35.69,36.73,37.73,38.77,40.2,41.23,42.7,43.79,44.81,46.26,47.31]
			}
		],
		yAxis : [
			{
				type : 'value',
				name : 'workers',
				splitArea : {show: true}
			},
			{
				type : 'value',
				name : 'taskRelated',
				splitArea : {show: true}
			}
		],
		series : [
			{
				name : 'workers',
				type : 'bar',
				data : [0,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131072,131043,124089,67568]
			},
			{
				name : 'tasks',
				type : 'line',
				yAxisIndex : 1,
				data : [0,629844,2094438,3558446,5022278,6485647,7949365,9413744,10877863,12341715,14538082,16735104,18931123,21126416,23322905,24786665,26250324,27715047,29178799,30641961,32105294,33568922,35033496,36498010,37962450,39425893,40889742,42354219,43819120,45282643,46747048,48211034,49675516,51139117,52603866,54067229,56261257,57724946,59920044,61383937,62847169,65047545,66555125]
			},
			{
				name : 'switches',
				type : 'line',
				yAxisIndex : 1,
				data : [0,1000000,3000000,5000000,7000000,9000000,11000000,13000000,15000000,17000000,20000000,23000000,26000000,29000000,32000000,34000000,36000000,38000000,40000000,42000000,44000000,46000000,48000000,50000000,52000000,54000000,56000000,58000000,60000000,62000000,64000000,66000000,68000000,70000000,72000000,74000000,77000000,79000000,82000000,84000000,86000000,89000000,91000000]
			}
		]
	});
</script>
<script type="text/javascript">
	var myChart = echarts.init(document.getElementById('wc2'));
	myChart.setOption({
		title : {
			text: 'Case 2'
		},
		tooltip : {
			trigger: 'axis'
		},
		legend : {
			data: ['workers', 'tasks', 'switches']
		},
		toolbox : {
			show: true,
			feature : {
				dataView : {show: true, readOnly: false},
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				data : [0,2.62,3.81,4.84,5.88,6.91,7.93,8.96,10.43,11.46,12.47,13.48,14.5,15.52,16.53,17.55,19.01,20.03,21.49,22.94,24.37,25.79,27.23,28.36,29.82,30.84,31.86,32.97,33.99,35.01,36.02,37.04,38.05,39.07,40.09,41.11,42.12,43.15,44.15,45.26,46.28,47.32,48.37]
			}
		],
		yAxis : [
			{
				type : 'value',
				name : 'workers',
				splitArea : {show: true}
			},
			{
				type : 'value',
				name : 'taskRelated',
				splitArea : {show: true}
			}
		],
		series : [
			{
				name : 'workers',
				type : 'bar',
				data : [0,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262144,262135,261761,257005,226953,108757]
			},
			{
				name : 'tasks',
				type : 'line',
				yAxisIndex : 1,
				data : [0,527882,1992263,3456447,4920214,6383700,7847487,9312004,11507787,12971808,14436155,15900455,17364985,18828973,20292700,21757035,23952594,25416075,27613056,29808495,32003172,34199594,36395766,37860309,40055975,41520234,42984430,44449013,45912675,47377152,48841051,50305463,51769389,53233102,54697104,56159289,57622968,59086872,60549462,62013562,63480475,64967149,66522761]
			},
			{
				name : 'switches',
				type : 'line',
				yAxisIndex : 1,
				data : [0,1000000,3000000,5000000,7000000,9000000,11000000,13000000,16000000,18000000,20000000,22000000,24000000,26000000,28000000,30000000,33000000,35000000,38000000,41000000,44000000,47000000,50000000,52000000,55000000,57000000,59000000,61000000,63000000,65000000,67000000,69000000,71000000,73000000,75000000,77000000,79000000,81000000,83000000,85000000,87000000,89000000,91000000]
			}
		]
	});
</script>
<script type="text/javascript">
	var myChart = echarts.init(document.getElementById('wc3'));
	myChart.setOption({
		title : {
			text: 'Case 3'
		},
		tooltip : {
			trigger: 'axis'
		},
		legend : {
			data: ['workers', 'tasks', 'switches']
		},
		toolbox : {
			show: true,
			feature : {
				dataView : {show: true, readOnly: false},
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				data : [0,3.59,4.69,5.86,6.89,7.92,8.94,10.41,11.43,12.9,13.91,14.93,16.39,17.85,18.87,19.9,21.37,22.84,23.85,25.32,26.33,27.36,28.83,30.3,31.32,32.77,33.78,35.21,36.65,37.66,38.67,39.7,40.7,41.73,42.85,43.87,44.89,45.91,46.94,47.97,49.07]
			}
		],
		yAxis : [
			{
				type : 'value',
				name : 'workers',
				splitArea : {show: true}
			},
			{
				type : 'value',
				name : 'taskRelated',
				splitArea : {show: true}
			}
		],
		series : [
			{
				name : 'workers',
				type : 'bar',
				data : [0,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393216,393214,393196,392947,390181,374376,315980,142946]
			},
			{
				name : 'tasks',
				type : 'line',
				yAxisIndex : 1,
				data : [0,424483,1890154,3354591,4818531,6281833,7745520,9941380,11405850,13601981,15066285,16530747,18726993,20922519,22387015,23850522,26045851,28243068,29706327,31900973,33364800,34829688,37026068,39221629,40685596,42882506,44346678,46542782,48738894,50203516,51667390,53131041,54595289,56057104,57521083,58984660,60447750,61913413,63388779,64897489,66495831]
			},
			{
				name : 'switches',
				type : 'line',
				yAxisIndex : 1,
				data : [0,1000000,3000000,5000000,7000000,9000000,11000000,14000000,16000000,19000000,21000000,23000000,26000000,29000000,31000000,33000000,36000000,39000000,41000000,44000000,46000000,48000000,51000000,54000000,56000000,59000000,61000000,64000000,67000000,69000000,71000000,73000000,75000000,77000000,79000000,81000000,83000000,85000000,87000000,89000000,91000000]
			}
		]
	});
</script>
<script type="text/javascript">
	var myChart = echarts.init(document.getElementById('wc4'));
	myChart.setOption({
		title : {
			text: 'Case 4'
		},
		tooltip : {
			trigger: 'axis'
		},
		legend : {
			data: ['workers', 'tasks', 'switches']
		},
		toolbox : {
			show: true,
			feature : {
				dataView : {show: true, readOnly: false},
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				data : [0,4.69,5.79,6.85,7.89,8.91,10.38,11.39,12.85,13.96,15.42,16.43,17.44,18.9,20.36,21.37,22.38,23.84,25.3,26.41,27.86,29.31,30.31,31.32,32.32,33.78,35.24,36.25,37.26,38.33,39.34,40.36,41.36,42.81,44.23,45.65,47.08,48.13,49.19]
			}
		],
		yAxis : [
			{
				type : 'value',
				name : 'workers',
				splitArea : {show: true}
			},
			{
				type : 'value',
				name : 'taskRelated',
				splitArea : {show: true}
			}
		],
		series : [
			{
				name : 'workers',
				type : 'bar',
				data : [0,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524288,524245,522837,504905,452288,312184]
			},
			{
				name : 'tasks',
				type : 'line',
				yAxisIndex : 1,
				data : [0,321688,1788151,3252745,4716430,6179576,8375782,9839020,12035506,13499965,15696469,17160871,18624993,20820237,23016795,24480488,25943951,28140823,30335904,31798710,33995121,36191375,37656184,39119729,40583611,42780286,44976782,46440656,47904662,49369236,50832885,52297419,53760743,55954908,58150824,60346563,62555890,64059559,65632006]
			},
			{
				name : 'switches',
				type : 'line',
				yAxisIndex : 1,
				data : [0,1000000,3000000,5000000,7000000,9000000,12000000,14000000,17000000,19000000,22000000,24000000,26000000,29000000,32000000,34000000,36000000,39000000,42000000,44000000,47000000,50000000,52000000,54000000,56000000,59000000,62000000,64000000,66000000,68000000,70000000,72000000,74000000,77000000,80000000,83000000,86000000,88000000,90000000]
			}
		]
	});
</script>
