<!DOCTYPE html>
<div class="jumbotron">
	<h1>亿级并发初步成果展示</h1>
	<p>本网页展示多种不同应用在框架下的运行过程，并可以监视正在运行的应用的运行状况</p>
	<p>
		<a href="/running" class="btn btn-primary btn-lg" role="button">正在运行</a>
		<a href="/finished" class="btn btn-success btn-lg" role="button">运行完成</a>
	</p>
</div>

