<!DOCTYPE html>
<div class="jumbotron">
	<h1>Welcome to Accirr!</h1>
	<p>Accirr is a framework to ACCelerate IRRegular computing tasks. This is the WebUI to monitor running tasks and view all tasks' track.</p>
	<p>
		<a href="/running" class="btn btn-primary btn-lg" role="button">Running</a>
		<a href="/finished" class="btn btn-default btn-lg" role="button">Finished</a>
	</p>
</div>

