<!DOCTYPE html>
<div class="page-header">
	<h1>Running Task</h1>
</div>
<div class="col-lg-12">
	<table class="table">
		<thead>
			<tr>
				<th>TaskName</th>
				<th>StartTime</th>
			</tr>
		</thead>
		<tbody>
			<%- partial('runningtask', tasklist) %>
		</tbody>
	</table>
</div>

